<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Alumnos Fines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <strong>Gestión de Alumnos Fines</strong> |
        <a href="{{ url_for('index') }}">Inicio</a> |
        {% if session.get("usuario") %}
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>© 2025 App Fines</p>
    </footer>
</body>
</html>
