
{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <h2 class="mb-4">Listado de Inscriptos</h2>
  {% if inscriptos %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Nombre completo</th>
          <th>DNI</th>
          <th>Email</th>
          <th>Turno preferido</th>
          <th>Materias a rendir</th>
        </tr>
      </thead>
      <tbody>
        {% for i in inscriptos %}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-muted">Aún no hay inscriptos registrados.</p>
  {% endif %}
</div>
{% endblock %}
