
{% extends 'base.html' %}
{% block content %}
  <h3 class="mb-3">Usuarios del sistema</h3>
  <a class="btn btn-success mb-3" href="{{ url_for('nuevo_usuario') }}">➕ Nuevo usuario</a>
  <table class="table table-bordered">
    <thead>
      <tr><th>ID</th><th>Nombre</th><th>Usuario</th><th>Rol</th></tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
      <tr><td>{{ u[0] }}</td><td>{{ u[1] }}</td><td>{{ u[2] }}</td><td>{{ u[3] }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
